<html>
	<script type="text/javascript">
	var name;
	
	alert("Hi! My name is Gerald.");
	name=prompt("Enter your name.", "");
	alert("Welcome "name"!");
	alert("Hello, I am Connie");
	</script>
</html>
